!!!
%html
  %head
    %title Sample
    = stylesheet_link_tag 'play_auth/application'
    = javascript_include_tag 'play_auth/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        = content_tag :div, msg, :id => "flash_#{name}"
    = yield
